td,
th {
  vertical-align: middle;
}

th{
  cursor:pointer;
}
button {
  margin: 2px;
}

.addBtn {
  margin-bottom: 2rem;
}

.green {
  width: 50px;
  padding: 5px;
  color: white;
  background-color: green;
}

.red {
  width: 50px;
  padding: 5px;
  color: white;
  background-color: darken(red, 15);
}

.blue {
  width: 50px;
  padding: 5px;
  color: white;
  background-color: darken(blue, 15);
}

.yellow {
  width: 50px;
  padding: 5px;
  color: black;
  background-color: darken(yellow, 10);
}
