@media only screen and (min-width: 0px) and (max-width: 700px) {
  td {
    display: inline-block;
    padding: 5px;
    width: 100%;
  }
}

table {
  background-color: white;
  color: black;
  margin-bottom: 2px;
}
td,
th {
  vertical-align: middle;
  white-space: nowrap;
}

.overdue {
  color: red;
  font-weight: bold;
}

.today {
  font-weight: bold;
  text-decoration: underline;
}

input[type="checkbox"] {
  transform: scale(1.4);
}

.border {
  border-width: 3px !important;
}

.marginRight {
  margin-right: 2px;
}
