@media only screen and (min-width: 0px) and (max-width: 700px) {
  td {
      display:inline-block;
      padding:5px;
      width:100%;
  }
}

table{

  background-color: white;
  color:black;
  margin-bottom: 2px;

}
td, th {
  vertical-align: middle;
  white-space:nowrap;
  
}

.green {
  width: 150px;
  padding: 5px;
  color: white;
  background-color: green;
}

.red {
  width: 150px;
  padding: 5px;
  color: white;
  background-color: darken(red, 10);
}

.blue {
  width: 150px;
  padding: 5px;
  color: white;
  background-color: blue;
}

.yellow {
  width: 150px;
  padding: 5px;
  color: black;
  background-color: darken(yellow, 10);
}

input[type=checkbox] {
  transform: scale(1.4);
}

.border{
  border-width: 2px !important;
}

.marginRight{
  margin-right: 2px;
}
