article {
  border: 2px solid lightgrey;
  box-shadow: 2px 2px 2px lightgrey;
  padding: 10px;
  min-width: auto;
  max-width: auto;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.green {
  color: white;
  background-color: green;
}

.red {
  color: white;
  background-color: darken(red, 15);
}

.blue {
  color: white;
  background-color: darken(blue, 15);
}

.yellow {
  color: black;
  background-color: darken(yellow, 10);
}

p{
  display:inline-block;
  cursor: pointer;
  font-weight: bold;
}
