.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.green {
  color: white;
  background-color: green;
}

.red {
  color: white;
  background-color: darken(red, 10);
}

.blue {
  color: white;
  background-color: blue;
}

.yellow {
  color: black;
  background-color: darken(yellow, 10);
}

input,
select {
  margin-bottom: 15px;
}
